@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.main {
  @include flex(column, flex-start, stretch, $gap:$none);
  width: $full;
  height: 100vh;

  .main-top {
    @include flex(row, flex-end);
    padding: $p3 $p1;
    width: $full;

    .main-top-button {
      @include button;
      @include flex(row, center, center, $gap:$gap5);
      padding: $p0 $p1;
      font-size: $text1;

      .blue-icon {
        filter: invert(36%) sepia(74%) saturate(1934%) hue-rotate(206deg) brightness(101%) contrast(101%);
      }

      .blue-text {
        color: $blue;
        font-weight: $w600;
      }
    }
  }

  .main-chat {
    @include flex(column, center, stretch, $gap:$gap2);
    flex: 1;
    width: $full;
    min-height: $none;
    padding: $p0 $p2;
    overflow: hidden;

    .chat-messages {
      display: none;
      order: 1;
      flex-direction: column;
      gap: $p2;
      flex: 1;
      min-height: $none;
      width: $full;
      //max-width: $input;
      margin: $none ;
      overflow-y: auto;
      padding: $p2 calc((100% - $input) / 2);
      
    }

    .empty-heading {
      order: 1;
      width: $full;
      max-width: $input;
      margin: $none auto;
      text-align: center;

      .main-empty-heading {
        font-weight: $w400;
        font-size: $text3;
      }
    }

    .composer {
      order: 2;
      flex-shrink: $none;
      @include flex(row, flex-start, center, $gap:$gap1);
      width: $full;
      max-width: $input;
      margin: $m2 auto;
      padding: $p2;
      border: 1px solid $lightgrey;
      border-radius: $round3;
      //@include shadow($shadow1);

      .composer-icon-btn {
        @include button;
        @include flex(row, center, center, $gap:$none);
        padding: $p0;
      }

      .composer-input {
        flex: 1;
        resize: none;
        overflow-y: auto;
        padding: $p2 $none;
        line-height: $lh15;
        min-height: $height20;
        max-height: 12rem;
        border: $none;
        outline: $none;
        font-family: inherit;
        font-size: $text1;
        background: transparent;

        &::placeholder {
          @include text-grey;
          font-weight: $w400;
        }
      }

      .composer-think-btn {
        @include button;
        @include flex(row, center, center);
        @include user-padding;
        @include text-grey;
        font-weight: $w400;
        border-radius: $round2;
      }

      .composer-send-btn {
        @include flex(row, center, center, $gap:$none);
        width: $tworem;
        height: $tworem;
        border-radius: $half;
        border: $none;
        background-color: $blue;
        cursor: pointer;

        &:disabled{
          background-color: $blue2;
          cursor: not-allowed;
        }

        .icon-white {
          filter: invert(100%);
        }
      }
    }

    .empty-suggestions {
      order: 3;
      width: $full;
      max-width: $input;
      margin: $none auto;

      .main-suggestions {
        @include flex(column, flex-start, flex-start, $gap:$gap5);
        width: $full;

        .suggestion-button {
          @include button;
          @include flex(row, flex-start, center, $gap:$gap1);
          @include user-padding;
          @include text-grey;
          width: $full;
          font-weight: $w400;
        }
      }
    }

    &.active {
      justify-content: flex-start;

      .chat-messages {
        display: flex;
      }

      .empty-heading,
      .empty-suggestions {
        display: none;
      }
    }
  }

  @include response(mobile) {
    .main-empty-heading {
      max-width: $full;
    }
    .composer-think-btn span {
      display: none;
    }
  }
}

.message {
  padding: $p2 $p3;
  border-radius: $round2;
  max-width: $msgwidth;
  font-size: $text1;
  line-height: 1.5;
}

.message-user {
  align-self: flex-end;
  background-color: $chatblue;
  padding: $p2 $p3;
}

.message-assistant {
  align-self: flex-start;
  background-color: transparent;

  .code-block {
    background-color: $grey;
    padding: $p2;
    border-radius: $round0;
    font-family: monospace;
    white-space: pre-wrap;
    margin-top: $p2;
  }
}

.message-actions {
  @include flex(row, flex-start, center, $gap:$gap5);
  margin-top: $p1;
  margin-bottom: $gap2;

  .action-btn {
    @include button;
    padding: $p1;

    &.liked img,
    &.copied img {
      filter: invert(36%) sepia(74%) saturate(1934%) hue-rotate(206deg) brightness(101%) contrast(101%); 
    }

    &.disliked img {
      filter: invert(20%) sepia(90%) saturate(3000%) hue-rotate(340deg); 
    }
}
  }
