$dark:black;
$light:white;
$grey:grey;
$lightgrey:lightgrey;
$blue:#4a7ae0;
$blue2:#a8c7fa;

$text1:14px;
$text2:1rem;
$text3:1.5rem;
$heading:18px;
$profile:1.5rem;

$gap5:0.5rem;
$gap1:1rem;
$gap2:1.5rem;
$gap3:2rem;

$tablet:768px;
$mobile:480px;

$round0:0.5rem;
$round1:1rem;
$round2:1.5rem;
$round3:2rem;

$p0:0rem;
$p1:0.25rem;
$p2:0.5rem;
$p3:0.75rem;
$p4:1rem;

$full:100%;
$half:50%;
$twenty:20%;
$ninety:90%;
$twentyfive:25%;
$none:0;
$eighty:80%;
$input:70%;

$w400:400;
$w600:600;

$m0:0;
$m1:0.5rem;
$m2:1rem;

$shadow1:1rem;
